{% extends "collation/base.html" %}
{% load static %}

{% block head %}
	{{ block.super }}
	<script type="text/javascript" src="{% static 'api/js/api.js' %}"></script>
  <script type="text/javascript" src="{% static 'collation/js/apparatus_download.js' %}"></script>
{% endblock %}

{% block container %}
  <main role="main" id="container">
		<input type="hidden" id="project_id" value="{{ project_id }}"/>
		<input type="hidden" id="task_id" value="{{ task_id }}"/>
    <p id="message">{{ message }} Please try to run the task again.</p>

		<a href="{{back_url}}">{{ back_text }}</a>

</main>
{% endblock %}
